<div class="container">
    <div class="row" *ngIf="isError">
        <div class="col">
            <p class="text-danger">{{errorMessage}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h4 text-center">Add your points</p>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngFor="let listType of pointLists">
            <app-point-entry [title]="listType"></app-point-entry>
            <hr/>
            <div class="container">
                <div class="row" *ngFor="let point of getUploadedPointsByListName(listType)">
                    <div class="col">
                        <p class="text-break text-success">{{point.pointText}} - {{point.participantName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="submitPoints()" class="btn btn-success" [disabled]="shouldDisablePost()">Post to board</button>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>
