<div class="container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isSaved && !isError">
        <div class="row">
            <div class="col-2 col-form-label">
                <label for="txtMeetingName" class="form-label">Meeting name:</label>
            </div>
            <div class="col">
                <input type="text" ngModel name="meetingName" id="meetingName" required [ngClass]="{'border-danger': f.controls.meetingName && f.controls.meetingName.invalid && (f.controls.meetingName.dirty || f.controls.meetingName.touched)}" class="form-control form-text"
                    [disabled]="isLoading" placeholder="Enter meeting name.">
            </div>
            <div class="col text-left">
                <p class="form-text text-danger" *ngIf="f.controls.meetingName && f.controls.meetingName.invalid && (f.controls.meetingName.dirty || f.controls.meetingName.touched)">Please enter a meeting name.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-form-label">
                <label for="listName">Select a format:</label>
            </div>
            <div class="col col-form-label">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" value="ssc" (click)="setListNames(['Start', 'Stop', 'Continue'])" checked>Start Stop Continue</mat-radio-button>
                    <mat-radio-button color="primary" value="msg" (click)="setListNames(['Mad', 'Sad', 'Glad'])">Mad Sad Glad</mat-radio-button>
                    <mat-radio-button color="primary" value="fourLs" (click)="setListNames(['Liked', 'Learned', 'Lacked', 'Longed for'])">4 Ls</mat-radio-button>
                    <mat-radio-button color="primary" value="starfish" (click)="setListNames(['Keep doing', 'Do less of', 'Do more of', 'Stop doing', 'Start doing'])">Starfish</mat-radio-button>
                    <mat-radio-button color="primary" value="sailboat" (click)="setListNames(['Wind', 'Anchor', 'Sun', 'Reef'])">Sailboat</mat-radio-button>
                    <mat-radio-button color="primary" value="kalm" (click)="setListNames(['Keep', 'Add', 'Less', 'More'])">KALM</mat-radio-button>
                    <mat-radio-button color="primary" value="custom" (click)="setListNames([])">Custom</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <div class="row" *ngFor="let listName of listNames; let i = index">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-10 col-md-8 col-sm-6">
                                <input #ln type="text" ngModel="{{listName}}" name="listName{{i}}" id="listName{{i}}" required [readonly]="!canEditListNames" [ngClass]="{'border-danger': shouldShowError(ln) && f.submitted}" class="form-control form-text" [disabled]="isLoading" placeholder="Enter list name.">
                            </div>
                            <div *ngIf="canEditListNames" class="col col-form-label">
                                <mat-icon role="button" class="btn-danger" (click)="deleteList(i)">clear</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p class="form-text text-danger" *ngIf="shouldShowError(ln) && f.submitted">
                            Please enter a list name.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a role="button" *ngIf="canEditListNames && listNames.length != 10" class="anchor" (click)="addList()">Add new list</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <input type="submit" value="Submit" class="btn btn-primary" [disabled]="isLoading">
            </div>
        </div>
    </form>
    <div class="row" *ngIf="isSaved">
        <div class="col">
            <p class="h5 text-center">Provide the following links to participants: <a routerLink="../participantName/{{meetingId}}" target="_blank">Participant Link</a></p>
            <p class="h5 text-center">This link is for the coordinator: <a routerLink="../coordinator/{{meetingId}}" target="_blank">Coordinator Link</a></p>
        </div>
    </div>
    <div class="row" *ngIf="isError">
        <div class="col">
            <p class="h5 text-center">An error has occoured.</p>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>