<div class="container">
    <div class="row">
        <div class="col">
            <p class="h4 text-center">Welcome to your meeting!</p>
            <hr/>
        </div>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isSaved && !isError">
        <div class="row">
            <div class="col-2 col-form-label">
                <label for="txtMeetingName" class="form-label">Meeting name:</label>
            </div>
            <div class="col">
                <input 
                    type="text" 
                    ngModel 
                    name="meetingName" 
                    id="meetingName" 
                    required 
                    [ngClass]="{'border-danger': f.controls.meetingName && f.controls.meetingName.invalid && (f.controls.meetingName.dirty || f.controls.meetingName.touched)}" 
                    class="form-control form-text"
                    [disabled]="isLoading"
                    placeholder="Enter meeting name.">
            </div>
            <div class="col text-left">
                <p class="form-text text-danger" *ngIf="f.controls.meetingName && f.controls.meetingName.invalid && (f.controls.meetingName.dirty || f.controls.meetingName.touched)">Please enter a meeting name.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-form-label">
                <label for="listName">Add lists:</label>
            </div>
            <div class="col">
                <div class="row" *ngFor="let listName of listNames; let i = index">
                    <div class="col">
                        <div class="row">
                            <div class="col-10">
                                <input #ln
                                type="text" 
                                ngModel="{{listName}}"
                                name="listName{{i}}" 
                                id="listName{{i}}" 
                                required 
                                [ngClass]="{'border-danger': shouldShowError(ln) && f.submitted}" 
                                class="form-control form-text"
                                [disabled]="isLoading"
                                placeholder="Enter list name.">
                            </div>
                            <div class="col">
                                <button class="btn-danger" mat-icon-button (click)="deleteList(i)">
                                    <mat-icon>clear</mat-icon>
                                  </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p class="form-text text-danger" *ngIf="shouldShowError(ln) && f.submitted">
                            Please enter a list name.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="anchor" (click)="addList()">Add new list</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <input type="submit" value="Submit" class="btn btn-primary" [disabled]="isLoading">
            </div>
        </div>
    </form>
    <div class="row" *ngIf="isSaved">
        <div class="col">
            <p class="h5 text-center">Provide the following links to participants: <a routerLink="../participantName/{{meetingId}}" target="_blank">Participant Link</a></p>
            <p class="h5 text-center">This link is for the coordinator: <a routerLink="../coordinator/{{meetingId}}" target="_blank">Coordinator Link</a></p>
        </div>
    </div>
    <div class="row" *ngIf="isError">
        <div class="col">
            <p class="h5 text-center">An error has occoured.</p>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
    </ngx-spinner>
</div>