<div class="container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
            <div class="col">
                <p class="h5 text-center">{{title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea 
                    ngModel 
                    name="txtPoint" 
                    id="txtPoint" 
                    required 
                    [ngClass]="{'border-danger': f.controls.txtPoint && f.controls.txtPoint.invalid && (f.controls.txtPoint.dirty || f.controls.txtPoint.touched)}" 
                    class="form-control form-text"
                    [disabled]="isLoading"
                    placeholder="Enter retro point.">
                </textarea>
                <p class="form-text text-danger" *ngIf="f.controls.txtPoint && f.controls.txtPoint.invalid && (f.controls.txtPoint.dirty || f.controls.txtPoint.touched)">Enter some text.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input 
                    type="checkbox"
                    ngModel 
                    name="checkAnonymous" 
                    id="checkAnonymous" 
                    class="form-check-inline"
                    [disabled]="isLoading">
                <label class="form-check-label">Anonymous</label>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="submit" value="Add" class="btn btn-primary" [disabled]="isLoading">
            </div>
        </div>
    </form>
    <div class="row" *ngIf="isError">
        <div class="col">
            <p class="h5 text-center">An error has occoured.</p>
        </div>
    </div>
    <div class="row" *ngFor="let point of getPointsList()">
        <div class="col">
            <p class="text-break text-primary">{{point.pointText}} - {{point.participantName}}</p>
        </div>
    </div>
</div>