<div *ngIf="meetingData">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <label class="h4">{{meetingData.meetingName}}</label>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col col-form-label">
                <label>Start the timer to allow adding points:</label>
            </div>
            <div class="col">
                <app-timer (countDownEnded)="toggleAllowAddPoints(true)" (countDownStarted)="toggleAllowAddPoints(false)"></app-timer>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="!isLoading && !isError && isDataLoaded">
        <div class="row" *ngIf="meetingData.participants && meetingData.participants.length > 0">
            <div class="col">
                <app-participant-list [participantList]="meetingData.participants"></app-participant-list>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <p class="h5 text-center">Retro points</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-truncate d-inline-block align-top mt-4 w-30" *ngFor="let pointsList of meetingData.pointsLists">
                    <app-point-list [pointsList]="pointsList"></app-point-list>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <form (ngSubmit)="sendEmail(f)" #f="ngForm">
                    <input type="submit" value="Send email" class="btn btn-success mr-4">
                    <mat-checkbox color="primary" class="mr-4" id="checkAllParticipants" name="checkAllParticipants" ngModel>All participants</mat-checkbox>
                    <input class="mr-4 mt-1" id="txtAdditionalRecepients{{i}}" name="txtAdditionalRecepients{{i}}" ngModel *ngFor="let recepient of additionalRecepients, let i = index" type="email" email placeholder="Enter email address." #pe [ngClass]="{'border-danger': shouldShowError(pe)}">
                    <a role="button" class="anchor" (click)="additionalRecepients.push('')">Add recepient</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="!meetingData && !isLoading">
    <div class="row">
        <div class="col">
            <p class="text-danger">There was an error in getting meeting data.</p>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
