<div class="card">
    <p class="h6 card-header">{{pointsList.listName}}</p>
    <ul class="card-body list-unstyled">
        <li class="text-truncate" *ngFor="let point of pointsList.points">
            <app-ngbd-modal [linkText]="point.pointText + '-' + point.participantName">
                <app-action-item [point]="point" [listId]="pointsList.id"></app-action-item>
            </app-ngbd-modal>
            <span *ngIf="point.actionItem && point.actionItem !== ''" class="material-icons" style="color: #007bff;">done</span>
        </li>
    </ul>
</div>